{{#if danger}}
    <div class="notification is-danger is-light">
    <button class="delete"></button>
        {{ danger }}
    </div>
{{/if}}

{{#if success}}
    <div class="notification is-success is-light">
    <button class="delete"></button>
        {{ success }}
    </div>
{{/if}}

{{#if error}}
    <div class="notification is-warning is-light">
    <button class="delete"></button>
        {{error}}
    </div>
{{/if}}






