{{> messages }}

<div class="level">
    <div class="level-left">
        <a href="/formulas/add" class="button is-primary is-rounded level-item"><i class="fas fa-plus"></i>Agregar</a>
    </div>
    <div class="level-right">
        <a id="btn-logout" href="#" class="button is-danger is-rounded level-item" onclick="submitForm(this.id)"><i class="fa fa-sign-out" aria-hidden="true"></i>Salir</a>
    </div>
    <form id="logout" action="/logout" method="post"></form>
</div>

<hr>

<div class="card">

    <form class="eraseFunction" action="/formulas/add" method="POST">

        <header class="card-header">
            <p class="card-header-title">Agregar Fórmula</p>
            <a href="#" class="card-header-icon" aria-label="more options">
                <span class="icon"><i class="fas fa-angle-down" aria-hidden="true"></i></span>
            </a>
        </header>

        <div class="card-content">
            <div class="content">

                <label class="label">Formula</label>
                <input class="input" type="text" name="name" placeholder="Escribe el nombre...">

                <label class="label">Unidad</label>
                <input class="input" type="text" name="unit" placeholder="Unidad de medida">

                <label class="label">Cantidad</label>
                <input class="input" type="number" name="quantity" placeholder="Cuanto necesitas...">

            </div>
        </div>

        <footer class="card-footer">

            <button type="subtmit" class="card-footer-item button is-white"><span class="icon has-text-success"><i class="fas fa-check"></i></span></a>
            <button type="button" class="card-footer-item button is-white" onclick="eraseFunction()"><span class="icon has-text-danger"><i class="fas fa-times"></i></span></button>
        </footer>

    </form>

</div>